/* Formatação padrão css */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    width: 100%;
    min-height: 100vh;
    background-image: url(Img/background-whatsapp-desktop.jpg);
    background-size: cover;
}
:root{
   --verde: #25D366;  
   --cinza: #d6d7dc;
   --verde-escuro: #072e29;
}
/* Cabeçalho da pagina */

.cabecalho-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 25px;
    background-color: var(--verde-escuro);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.452);
}
.logo img{
    width: 40px;
    height: 40px;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-item{
    transition: .5s;
    position: relative;
}
.nav-item:hover{
    transform: translateY(-5px);
}
.nav-item::after{
    content: "";
    width: 50%;
    height: 3px;
    border-radius: 30%;
    background-color: #fff;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%)scaleX(0);
    transition: .5s;
}
.nav-item:hover::after{
    transform: translateX(-50%)scaleX(1);
}
.nav-link{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif; /*Fonte Provisória*/
    font-weight: bolder;
        color: #fff;
}

/* Container de conteudo principal */

.main_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

/* Caixa de input do numero */

.form-number{
    border: solid 1px black;
    border-radius: 20px;
    width: fit-content;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza);
    border: solid 1px var(--verde-escuro);
}
.form-number span{
    color:  var(--verde);
}
.form-number h2{
    font-size: medium;
}
.number-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    width: 90%;
}
#country-code{
    font-size: small;
    font-weight: bolder;
    border-radius: 5px;
    border: solid 1px black;
    width: 150px;
    height: 30px;
    text-align: left;
    outline: none;
}
#phone-number{
    font-size: medium;
    font-weight: bolder;
    border-radius: 5px;
    text-indent: 5px;
    border: solid 1px black;
    width: 150px;
    height: 30px;
    outline: none;
}
.lb-inpt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Caixa de edição da mensagem */

.text-message{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-message h1{
    font-size: larger;
}
.text-message p{
    margin: 5px 0 20px 0;
    font-size: smaller;
    width: 70%;
}
#message{
    width: 90%;
    height: 130px;
    border-radius: 10px;
    text-indent: 15px;
    padding: 10px ;
    resize: none;
    outline: none;
}

/* Botão gerador de link */

#generate-link{
    background-color:  var(--verde);
    border: solid 2px  var(--verde);
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 15px;
    transition: .5s;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.514);
}
#generate-link:hover{
    cursor: pointer;
    color:  var(--verde);
    background-color: #fff;
    transform: scale(1.05);
}

/* Exibição do celular */

.cellphone{
    position: relative;
    height: 500px;
}
.cellphone img{
    height: 100%;
}
#exib-phone-number{
    position: absolute;
    top: 5.5%;
    font-size: medium;
    left: 27%;
    color: #fff;
    font-size: smaller;
}
#exib-message{
    position: absolute;
    bottom: 42%;
    right: 13%;
    background-color: var(--verde);
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    max-width: 60%;
    font-size: smaller;
    max-height: 44.1%;
    overflow-y: scroll;
}
#exib-message::-webkit-scrollbar{
    opacity: 0;
}

/* Janela de aviso da copia do link*/

.clipboard-alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: var(--cinza);
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
    width: 300px;
    transform: scale(0);
    transition: transform .5s;
    border: solid 2.5px var(--verde);
}

.clipboard-alert-window-open{
    transform: translate(-50%,-50%) scale(1);
}

.clipboard-alert h1{
    font-size: x-large;
}
#show-final-link{
    margin: 10px 0;
}
#close-window{
    background-color: var(--verde);
    font-size: larger;
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1px var(--verde);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
#close-window:hover{
    background-color: #fff;
    color: var(--verde);
}

/* Div para borrar a tela quando a janela da clipboard for aberta */

.blur{
    filter: blur(5px);
}