@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Formatação padrão css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
body,html{
    width: 100%;
    min-height: 100vh;
    background-image: url(../Img/background-whatsapp-desktop.jpg);
    background-size: cover;
}
:root{
   --verde: #25D366;  
   --cinza: #d6d7dc;
   --verde-escuro: #072e29;
    --verde-escuro2: #08463d;
}

/* Container de conteudo principal */

.main_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 40px;
}

/* Janela de aviso da copia do link*/

.clipboard-alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: var(--cinza);
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
    width: 300px;
    transform: scale(0);
    transition: transform .5s;
    border: solid 2.5px var(--verde);
}

.clipboard-alert-window-open{
    transform: translate(-50%,-50%) scale(1);
}

.clipboard-alert h1{
    font-size: x-large;
}
#show-final-link{
    margin: 10px 0;
}
#close-window{
    background-color: var(--verde);
    font-size: larger;
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1px var(--verde);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
#close-window:hover{
    background-color: #fff;
    color: var(--verde);
}

/* Div para borrar a tela quando a janela da clipboard for aberta */

.blur{
    filter: blur(5px);
}

.ad-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}